header 
    .header
        a(href="#")
            img(src="image/logo.svg", alt="logo")
        nav 
            ul.nav 
                lin.nav-item 
                    a(href="#").nav-link.active Home 
                li.nav-item 
                    a(href="#").nav-link TV Shows 
                li.nav-item 
                    a(href="#").nav-link Movies
                li.nav-item 
                    a(href="#").nav-link Series
        ul.control 
            li.control-item 
                button.control-btn.control-btn-search
            li.control-item 
                button.control-btn.control-btn-notice
            li.control-item 
                button.control-btn.control-btn-login
                  
