
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
// family=Marcellus+SC&

@font-face{
    font-family: 'Marcellus SC', serif;
    src: url(/src/fonts/MarcellusSC-Regular.ttf);
}

$white: #fff;
$black: #000;
$bg-gradient:linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);

html{
    font-size: 10px;
}

body{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    // font-family: 'Marcellus SC', serif;
    font-family: 'Mulish', sans-serif;
}

button{
    &:focus{
        outline: none;
    }
}

.container{
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

.border{
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: #2F2E2E;
    margin-bottom: 6rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item{
        margin: 0 2.5rem;
    }
    &-link{
        text-decoration: none;
        font-weight: 700;
        color: rgba($white, 0.5);
        position: relative;
        transition: .2s ease color;
        &:hover{
            color: rgba($white, 1);
        }
        &::after{
            content: "";
            opacity: 0;
            display: block;
            width: 100%;
            height: .2rem;
            margin-top: .5rem;
            border-radius: 5rem;
            background: $bg-gradient;
        }
        &.active{
            color: rgba($white, 1);
            &::after{
                opacity: 1;
            }
        }
        &:hover{
            &::after{
                opacity: 1;
            }
        }
    }
}

.control{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item{
        margin-left: 7.5rem;
    }
    &-btn{
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &-search{
            background-image: url(image/searchsvg.svg);
            width: 1.8rem;
            height: 1.8rem;
        }
        &-notice{
            background-image: url(image/notification.svg);
            width: 2.13rem;
            height: 2.35rem;
        }
        &-login{
            background-image: url(image/login.svg);
            width: 1.8rem;
            height: 1.92rem;
        }
    }
}

.section{
    &-second{
        margin-bottom: 13.8rem;
    }
    padding-top: 5rem;
    &__h2{
        font-size: 2.8rem;
        line-height: 2rem;
        position: relative;
        padding-left: 2rem;
        font-weight: 700;
        &::before{
            content: "";
            display: block;
            width: 8rem;
            height: 3.5rem;
            width: .8rem;
            margin-top: .5rem;
            border-radius: 5rem;
            background: $bg-gradient;
            position: absolute;
            left: 0;
            top: calc(50% - 2.3rem);
        }
        &-link{
            color: $white;
            text-decoration: none;
        }
    }
    &__btn{
        position: absolute;
        background-color: transparent;
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 800;
        cursor: pointer;
        background: $bg-gradient;
        color: $white;
        padding-left: 4rem;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        transition: .2s ease box-shadow;
        margin-top: 5.5rem;
        &:hover{
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
        }
        &::after{
            content: "";
            width: 1.4rem;
            height: 1.8rem;
            display: block;
            background-image: url(/src/image/arrow_play.svg);
            position: absolute;
            left: 3rem;
            top: 1.5rem;
            margin-left: -1rem;
        }
    }
}

.banner{
    background-color: $black;
    display: flex;
    &-image{
        max-width: 90.5rem;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &-info{
        max-width: 53.2rem;
        padding-right: 3rem;
        font-weight: 800;
        box-shadow: 100px 0 100px #000;
        z-index: 1;
        .banner__title{
            margin-top: 12rem;
            font-family: 'Marcellus SC', serif;
            font-size: 8rem;
            line-height: 7.5rem;
        }
        .banner__text{
            color: #C2C2C2;
            font-size: 1.8rem;
            line-height: 1.6;
            margin-bottom: 3.5rem;
        }
        &__year{
            margin-right: 3rem;
            margin-bottom: 2.9rem;
        }
        &__age{
            margin-right: 3rem;
            position: relative;
            text-align: center;
            &::before{
                width: 6rem;
                content: "";
                display: block;
                height: 2.4rem;
                background-image: url(/src/image/border-age.svg);
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: -.05rem;
                left: -1.4rem;
            }
        }
        &__time{
            margin-right: 6.1rem;
        }
        &__raiting{
            &::after{
                content: "";
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url(/src/image/star.svg);
                margin-left: 1rem;
            }
        }
    }

    &-control{
        &__btn{
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: 'Mulish', sans-serif;
            font-weight: 800;
            cursor: pointer;
        }
        &__btn-main{
            background: $bg-gradient;
            color: $white;
            position: relative;
            padding-left: 4rem;
            margin-right: 3rem;
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
            transition: .2s ease box-shadow;
            &:hover{
                box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
            }
            &::after{
                content: "";
                width: 1.4rem;
                height: 1.8rem;
                display: block;
                background-image: url(/src/image/arrow_play.svg);
                position: absolute;
                left: 3rem;
                top: 1.5rem;
                margin-left: -1rem;
            }
        }
        &__btn-more{
            background-color: $white;
            color:#323232;
            transition: .2s ease background-color, .2s ease color;
            &:hover{
                color: $white;
                background-color: transparent;
            }
        }
    }
}

.movies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item{
        box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.0);
        transition: .2s ease box-shadow;
        border-radius: 2rem;
        flex: 0 0 14%;
        &:hover{
            box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
        }
    }
    &__link{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 30.9rem;
        display: block;
        &__img{
            border-radius: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

.genres{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    &__item{
        cursor: pointer;
        flex: 0 0 24%;
        border-radius: 2rem;
        padding: 4.1rem 0;
        margin-bottom: 2.7rem;
        &-romance{
            background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
        }
        &-drama{
            background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
        }
        &-historical{
            background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
        }
        &-action{
            background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
        }
        &-sci-fi{
            background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
        }
        &-horror{
            background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
        }
        &-comedy{
            background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
        }
        &-documentary{
            background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
        }
        img{
            height: 8rem;
        }
    }
    &__title{
        margin: 0;
        font-size: 2.8rem;
        font-weight: 700;
    }
}

.actors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.7rem;
    &__item{
        margin-top: 4.7rem;
        text-align: center;
        &-actors{
            text-decoration: none;
            &__name{ 
                list-style: none;
                color: $white;
                font-size: 1.8rem;
                line-height: 2rem;
                font-weight: 700;
            }
            &:hover{
                color: $bg-gradient;
            }
        }
    }
}

.premieres{
    max-width: 144rem;
    background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    &__block{
        display: flex;
        align-items: center;
        &-film{
            width: 50%;
            img{
                width: 100%;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
        }
        &-relize{  
            width: 50%; 
            &__content{
                margin: 0 auto;
            } 
        }
    }
}